{{!-- 
Partial: Form add
 --}}
<div class="form-add">
  <form action="/article" method="post">
    <label for="title">Title</label>
    <input id="title" type="text" name="title" />
    <label for="price">Price</label>
    <input id="price" type="text" name="price" />
    <button type="submit">SEND</button>
  </form>
</div>

<h1>Post candidat</h1>
<div class="form-add">
  <form action="/form" method="post">
    <label for="nom">Nom</label>
    <input id="nom" type="text" name="nom" />
    <label for="prenom">Prenom</label>
    <input id="prenom" type="text" name="prenom" />
    <label for="numero">Numero</label>
    <input id="numero" type="text" name="numero" />
    <button type="submit">SEND</button>
  </form>
</div>